[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

requests = "*"
"beautifulsoup4" = "~=4.6.0"
terminaltables = "~=3.1.0"


[dev-packages]

pylint = "==1.9.1"
isort = "*"
pytest = "==3.6.0"
"pytest-mock" = "==1.10.0"
"pytest-cov" = "==2.5.1"
codecov = "==2.0.16"
